.sectionOne {
    background: url(../../images/sources-homepage/A110/Alpine-A110-1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
    padding-top: 2%;
    padding-left: 1%;
}

.sectionOne .card {
    
    width: 40%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sectionOne h1 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}