.sectionCouleurCouleur {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 0;
    padding-left: 1%;
}

.sectionCouleur .card {
    width: 50%;
    height: 20%;
}

.sectionCouleur h3 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionCouleur button img {

    height: 50px;
    width: 50px;

}

.alpineChange{
    width: 100%;
    height: 100%;
}

.color-options{
    display: flex;
    justify-content: flex-end;
}